<h1>Welcome to your Shopping List. Please log in.</h1>

<form class ="login" action="/submit_login" method="post">
  <input type="text" name="name" value="" placeholder="username"><br>
  <input type="password" name="awesome_thing" value="" placeholder="Password"><br>
  <input type="submit" value="Click Here">
  <!-- names are keys in the params hash. values are vals. -->
</form>
