<h1>Welcome to your Shopping List. Please log in.</h1>

<% if @message %>
<p><%= @message %></p>
<% end %>

<form class ="login" action="/users/login" method="post">
  <input type="text" name="user_name" value="" placeholder="Username"><br>
  <input type="password" name="password" value="" placeholder="Password"><br>
  <input type="submit" value="Login">
  <!-- names are keys in the params hash. values are vals. -->
</form>
