<h1>Welcome to your Shopping List. Please log in.</h1>

<form action="/submit_form" method="post">
  <input type="text" name="name" value="" placeholder="username">
  <input type="password" name="awesome_thing" value="" placeholder="Password">
  <input type="submit" value="Click Here">
  <!-- names are keys in the params hash. values are vals. -->
</form>
