body{
  background-color: rgba(108, 187, 138, 0.73);
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  font-family: helvetica;
}

input {
  height: 20px;
}

.login input{
  height: 30px;
  margin: 30px;
  font-size: 1.5rem;
}
